.detail {
  margin-top: 32px;
}
.seasons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  > a {
    margin: 5px 14px;
    width: 100px;
    p {
      width: 100%;
      font-weight: 300;
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
.more {
  border: 1px solid #d1d5db;
  border-radius: 5px;
  padding: 4px 24px;
  font-size: 14px;
  margin: 0 20px;
}
