.modal {
  background: #fff;
  width: 400px;
  padding: 40px;
  box-shadow: 1px 2px 3px #d1d5db;
  border-radius: 5px;
  > h4 {
    font-weight: 500;
    margin-bottom: 8px;
  }
  > img {
    margin-bottom: 8px;
  }
  > p {
    font-weight: 200;
    font-size: 14px;
    &:last-of-type {
      margin-top: 8px;
    }
  }
}
