.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80dvh;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  > h2 {
    margin-bottom: 20px;
    font-size: 17px;
  }
  > form {
    max-width: 480px;
    border: 1px solid #a1a1aa;
    border-radius: 5px;
    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    > label {
      margin-bottom: 4px;
      font-size: 15px;
      &:last-of-type {
        margin-top: 12px;
      }
    }
    > input {
      border: 1px solid #e5e7eb;
      padding: 5px;
      border-radius: 5px;
      width: 320px;
    }
    > button {
      background: #e5e7eb;
      border-radius: 5px;
      padding: 5px;
      margin: 24px 0 10px 0;
      &:disabled {
        color: #f5f5f5;
      }
      &:hover {
        background: #d1d5db;
      }
    }
  }
  > button {
    margin-top: 20px;
    font-weight: 200;
    font-size: 15px;
    text-decoration: underline;
    text-underline-offset: 4px;
    &:hover {
      text-decoration: none;
    }
  }
}
.oauthLogin {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  > button {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    width: 210px;
    padding: 5px 0;
    font-size: 15px;
    margin: 4px 0;
  }
}
.errorMessage {
  font-size: 15px;
  color: #fb923c;
  margin-top: 10px;
}
