.form {
  width: fit-content;
  position: relative;
  > input {
    border: 1px solid #e4e4e7;
    border-radius: 5px;
    &::placeholder {
      font-size: 13px;
      color: #a1a1aa;
    }
  }
  > button {
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 2px;
    background: #fff;
  }
}
.inputDefault {
  padding: 4px 7px;
}
.inputSearch {
  width: 480px;
  padding: 4px 8px;
}
