.cast {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.more {
  border: 1px solid #d1d5db;
  border-radius: 5px;
  height: fit-content;
  padding: 4px 24px;
  font-size: 14px;
  margin: 0 20px 0 40px;
}
