.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80dvh;
  padding: 32px 16px;
  h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}
.list {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 50dvh;
}
